/*COLOR DE LOS BOTONES Y TAMAÑO*/
.btn-style{
    font-size: 18px;
    padding: 5px 30px;
    background-color: #212529;
    color: white;
}

/*EFECTO AL PASAR EL MOUSE ENCIMA DEL BOTON
(SE COLOCA AUTOMATICO UNA VEZ PONGAN LA CLASE EN SU ETIQUETA BUTTON)*/
.btn-style:hover{
    background-color: #16191d;
}

/*COLOR DE FONDO PREDETERMINADO*/
.back-style{
    background-color: #7a1c79;
}

/*ESTILO DE LOS INPUTS*/
.inputs-style{
    font-size: 16px;
    font-weight: 600;
    
}

/*ESTILO DE LOS TITULOS*/
.title-style{
    font-size: 30px;
    font-weight: 600;
}

.parrafo-style{
    font-size: 20px;
}

.tam-style{
    font-size: 14px;
}

.dropdown-item, .dropdown-toggle{
    font-size: 16px;
}